html, body {
  min-width: 320px;
  color: #000;
  cursor: default;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
html,
body  {
  font-size: 12px;
  line-height: 16px; 
}
div, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, input, textarea, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

p {
  padding: 0px;
  margin: 0px; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

td {
  vertical-align: top; 
}

a {
  cursor: pointer;
  color: #00acc1;
  text-decoration: underline; 
}
a:hover {
  text-decoration: none; 
}
.underline:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
  line-height: 0px;
  height: 0px;
  width: 0px;
  font-size: 0px; 
}

.hand {
  cursor: pointer; 
}

#simplemodal-overlay {
  background-color: #000; 
}

.wrapper {
  width: 1580px;
  margin: 0px auto; 
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);

}

.img_responsive {
  display: block;
  max-width: 100%;
  height: auto; 
}
.container {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  min-height: 100%;
}
.tb {
  display: table;
  width: 100%;
  height: 100%;
}
.td {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
#page {
  margin-left: 50px;
}
#aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #fff;
}
.aside_nav {
  position: absolute;
  top: 50px;
  bottom: 0;
}
.aside_item {
  height: 12%;
  min-height: 30px;
}
.user_box {
  position: relative;
}
.user_cross {
  position: absolute;
  border-radius: 8px;
  height: 20px;
  padding: 0 5px;
  background-color: #ff9f00;
  text-align: center; 
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  left: 40px;
  top:50%;
  margin-top: -10px;  
  text-decoration: none;
  z-index: 2
}
.user_cross .icon {
  font-size: 11px;
}
.aside_item {

}
.aside_link {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px
}
.aside_link_1 {background: url(../img/icon/1.png) center no-repeat;}
.aside_link_2 {background: url(../img/icon/2.png) center no-repeat;}
.aside_link_3 {background: url(../img/icon/3.png) center no-repeat;}
.aside_link_4 {background: url(../img/icon/4.png) center no-repeat;}
.aside_link_5 {background: url(../img/icon/5.png) center no-repeat;}
.aside_link_6 {background: url(../img/icon/6.png) center no-repeat;}
.aside_link_7 {background: url(../img/icon/7.png) center no-repeat;}
.aside_link_8 {background: url(../img/icon/8.png) center no-repeat;}
.header_menu_box {
  padding-left: 15px;
  height: 50px;
}
.header_menu_link_box {
  float: left;
  height: 31px;
  padding: 19px 0 0 20px;
}
#box_content_note {
  position: relative;
}
.box_content {
  display: none;
}
.box_content.show {
  display: block;
}
.note_box {
  position: relative;
  background-color: #37474f;
  height: 50px;
  padding-right: 25px;
  overflow: hidden;
}
.note_item {
  float: left;
  padding: 5px;
}
.note_item_box {
  font-size: 12px;
  line-height: 12px;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  -ms-border-radius:      4px;
  -o-border-radius:       4px;
  border-radius:          4px;
  position: relative;
}
.note_item_remove {
  position: absolute;
  right: 6px;
  top: 4px;
  color: #fff;
  text-decoration: none;
}
.note_item_remove .icon {
  font-size: 10px;
}
.note_item_box.light {background-color: #fff;color: #284855;}
.note_item_box.dark {background-color: #5f6c72;color: #fff;}
.note_item_box.dark {
  padding-right: 25px;
}
.note_item_title {
  
}
.note_item_content {
  padding: 8px;
}
.note_box {
  padding-left: 20px;
}

.note_checker {
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-border-radius:  8px;
  -moz-border-radius:     8px;
  -ms-border-radius:      8px;
  -o-border-radius:       8px;
  border-radius:          8px;
  height: 20px;
  width: 30px;
  background: #ff9f00 url(../img/note_arrow.png) no-repeat center;
}
.note_checker.active {
  background-image: url(../img/note_arrow_a.png);
}
#show_archived .dx-switch {
  width: 24px;
  height: 16px;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch-on-value .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch-off {
  color: #b6b6bf;
  text-indent: -9999px;
  background-color: inherit;
}
.dx-switch-on {
  text-indent: -9999px;
  color: #ff9f00;
  background-color: inherit;
}
.dx-switch.dx-state-hover .dx-switch-container {
  border-color:#ff9f00;
}
.content_box {
  padding: 15px 25px;
}
.note_switch_text {
  float: left;
}
.note_switch_box {
  float: left;
}
.content {
  margin: 15px 0;
}
.note_label {
  display: inline-block;
  padding: 0 6px;
  height: 16px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius:  6px;
  -moz-border-radius:     6px;
  -ms-border-radius:      6px;
  -o-border-radius:       6px;
  border-radius:          6px;
}
.note-high {background: #eb5a46;}
.note-archived {background: #b6b5bb;}
.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection {
  background-color: #ff9f00;
  color: #fff;
}
.load_more {
  -webkit-border-radius:  3px;
  -moz-border-radius:     3px;
  -ms-border-radius:      3px;
  -o-border-radius:       3px;
  border-radius:          3px;
  border: 2px solid #e2e2e6;
  color: #00bcd4;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
  margin-right: 30px;
  padding: 5px 20px;
  text-decoration: none;
}
.load_more:hover {
  background: #00bcd4;
  color: #fff;
  border: 1px solid #00bcd4;
}
.dx-page-sizes {
  position: absolute;
  top: -37px;
  right: 150px;
}
.dx-header-row {
  background: #e3f2fd;
}
.notes:hover {
  background: #e3f2fd;
}
.notes a {
  color: #333;
  text-decoration: none;
}
.notes a:hover {
  color: #00acc1;
  text-decoration: underline;
}
.dx-page-sizes span {
  color: #6e6e80;
  display: inline-block;
  margin-right: 10px;
}
#notificationContainer {
  margin: 0px 0 0 0;
}
.onoffswitch_text {
  float: left;
  margin-right: 20px;
  color: #6e6e80;
}
.onoffswitch_box {
  float: left;
  margin-right: 10px;
}
.onoffswitch_title {
  float: left;
  color: #010101;
}
.onoffswitch {
    position: relative; 
    width:  25px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer; 
    -webkit-border-radius:  20px;
    -moz-border-radius:     20px;
    -ms-border-radius:      20px;
    -o-border-radius:       20px;
    border-radius:          20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 16px; 
    padding: 0; 
    line-height: 16px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, 
    Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #ff9f00; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #ff9f00; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 7px; 
    height: 7px;
    margin: 0 4px 0 0;
    background: #FFFFFF;
    position: absolute; 
    top: 4px; 
    right: 8px;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    transition: all 0.3s ease-in 0s; 
    border: 1px solid #ff9f00;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    /*background-color: #ff9f00; */
}
.dx-pager .dx-page-sizes .dx-page-size {
  padding: 2px 0;
  width: 24px;
  text-align: center;
}
.dx-pager .dx-pages .dx-page {
  padding: 2px 0;
  width: 24px;
  text-align: center;
}
.sortby_box {
  float: right;
}
.sortby_body {
  position: relative;
}
.sortby_title {
  cursor: pointer;
  color: #00acc1;
  padding: 0 15px 0 0;
  background: url(../img/sortby_a.png) no-repeat right center;
  border-bottom: 1px dashed #00acc1; 
}
.sortby_list {
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  min-width: 150px;
  text-align: right;
  z-index: 1;
}
.sortby_list_item {
  display: block;
}
.sortby_list.show {
  display: block;
}
.noterow_archived {
  background: #fffcf7;
}
.content_title_left {
  float: left;
}
.content_title_right {
  float: right;
}
.p_settings_page {
  background: #f2f6fa;
}
.p_settings_wrapper {
  width: 900px;
  background: #fff;
  margin: 0 auto;
}
.p_settings_wrapper_pad {
  padding: 20px;
}
#p_settings_save_btn {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #00bbd3;
  border: 1px solid #00bbd3;
  color: #fff;
}
.content_title {
  color: #000;
  font-size: 14px;
  padding-top: 8px;
  line-height: 19px;
  font-family: Arial;
  font-weight: bold;
}
.dx-field-item-help-text {
  color: #6e6e80;
  font-size: 10px;
}
.p_settings_form_box {
  padding-right: 110px;
  padding-bottom: 20px;
}
.p_settings_form_picture {
  text-align: right;
  padding-top: 	22px;
  
}
.dx-texteditor-input {
  background: #e3f2fd;
  border-color: #e3f2fd;
  color: #000;
  font-size: 12px;
}
.dx-texteditor {
  border-color: #e3f2fd;
}
.dx-field-item-label-text {
  display: inline-block;
  color: #6e6e80;
  font-size: 11px;
  padding: 0 0 5px 8px;
}
.dx-dropdowneditor-icon:hover,
.dx-dropdowneditor-icon {
  background: #e3f2fd;
}
.main_link {
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  -ms-border-radius:      4px;
  -o-border-radius:       4px;
  border-radius:          4px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #000;
  padding:  1px 10px;
  font-weight: bold;
}
.main_link:hover,
.main_link.active {
  border-color: #00bcd4;
}
.transition {
  transition: all 0.3s ease-in 0s; 
}
.role_container {
}
.role_tag {
  float:left;
  background: #6e6e80;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
  -ms-border-radius:      7px;
  -o-border-radius:       7px;
  border-radius:          7px;
  padding: 0 10px;
  color: #fff;
  margin-right:5px;
  margin-top:5px;
}
.card_tag {
  float:left;
  background: #6e6e80;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
  -ms-border-radius:      7px;
  -o-border-radius:       7px;
  border-radius:          7px;
  padding: 0 10px;
  color: #fff;
  margin-right:5px;
  margin-top:5px;
}
.role_tag_box {

}
.role_tag_more {
  background: #ff9f00;
}
.role_list {
  background: #f2f6fa;
}
.role_card {
}
.role_card.active .role_card_box {
  background: #fff8ed;
}
.role_card_block {
}
.role_card_box {
  background: #fff;
  padding: 20px;
}
.role_card_name {
  float: left;
  font-weight: bold;
}
.role_card_status {
  float: right;
}
.role_filter {
  background: #37474f;
}
.role_content_box {
  position: relative;
  padding: 0 10px 0 0;
}

.role_list .dx-list-item {
  float: left;
  width: 33%;
  border-top: none;
}
.role_card_tags {
  padding: 5px 0 0 0;
}
.сard_tags {
  padding: 5px 0 0 0;
}
.role_content {
  /*border-top: 1px solid #f5f6f6; */
}
.role_controls {
  padding: 10px;
}
a.role_filter_btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  color: #ff9f00;
  background: #37474f;
  -webkit-border-radius:  3px;
  -moz-border-radius:     3px;
  -ms-border-radius:      3px;
  -o-border-radius:       3px;
  border-radius:          3px;
  font-size: 20px;
}
.role_controls_line_left {
  float: left;
}
.role_controls_line_right {
  float: right;
}


.dx-switch {
  width: 24px;
  height: 16px;
}
.dx-switch.dx-state-readonly .dx-switch-container {
  border-color: #b6b6bf;
  background-color: #b6b6bf;
}

.dx-switch.dx-state-active .dx-switch-handle:before {
  background-color: #ff9f00;
}
.dx-switch.dx-state-active .dx-switch-container {
  border-color: #ff9f00;
  background-color: #ff9f00;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch.dx-state-hover .dx-switch-container {
  background-color: #ff9f00;
  border-color: #ff9f00;
}
.dx-switch.dx-switch-on-value .dx-switch-container {
  border-color: #ff9f00;
  background-color: #ff9f00;
}
.dx-switch.dx-switch-on-value .dx-switch-container {
  border-color: #ff9f00;
  background-color: #ff9f00;
}

.dx-switch.dx-state-hover.dx-switch-on-value .dx-switch-container {
  /*background-color: transparent;*/
}
.dx-switch.dx-state-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dx-switch.dx-state-focused .dx-switch-container {
  /*border-color: #fff;*/
}
.dx-switch.dx-state-focused .dx-switch-handle:before {
  background-color: #fff;
}
.dx-switch.dx-state-focused.dx-state-active .dx-switch-handle:before {
  background-color: #ff9f00;
}
.dx-switch-container {
  overflow: hidden;
  margin: 0 -3px 0 0;
  padding: 0 2px;
  height: 16px;
  border: 1px solid #b6b6bf;
  background: #b6b6bf;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.dx-switch-inner {
  width: 200%;
  height: 100%;
}
.dx-switch-on,
.dx-switch-off {
  float: left;
  width: 50%;
  padding-right: 16px;
  line-height: 22px;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dx-switch-off {
  padding-left: 2px;
  color: #999999;
}
.dx-switch-on {
  color: #333;
}
.dx-switch-handle {
  position: relative;
  float: left;
  width: 8px;
  height: 8px;
  margin-top: 3px;
  margin-left: -8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dx-switch-handle:before {
  display: block;
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.dx-switch-on-value .dx-switch-handle:before {
  background-color: #fff;
}
.dx-rtl .dx-switch .dx-switch-on,
.dx-switch.dx-rtl .dx-switch-on,
.dx-rtl .dx-switch .dx-switch-off,
.dx-switch.dx-rtl .dx-switch-off {
  float: right;
  padding-left: 16px;
  padding-right: 2px;
}
.dx-rtl .dx-switch .dx-switch-off,
.dx-switch.dx-rtl .dx-switch-off {
  margin-left: 0;
}
.dx-rtl .dx-switch .dx-switch-handle,
.dx-switch.dx-rtl .dx-switch-handle {
  float: right;
  margin-left: 0;
  margin-right: -14px;
}
.dx-rtl .dx-switch .dx-switch-container,
.dx-switch.dx-rtl .dx-switch-container {
  margin: 0 0 0 -6px;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background-color: #fff;
}


/*
.dx-switch {
    width: 24px;
    height: 16px;
}
.switch_btn .dx-switch-container {
  overflow: hidden;
  margin: 0 -3px 0 0;
  padding: 0 2px;
  height: 16px;
  width: 24px;
  border: 1px solid #b6b6bf;
  background: #b6b6bf;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
  -ms-border-radius:      7px;
  -o-border-radius:       7px;
  border-radius:          7px;
}
.switch_btn .dx-switch-on,
.switch_btn .dx-switch-off {
  line-height: 16px;
}
.switch_btn .dx-switch-handle {
    width: 8px;
    height: 8px;
    margin-top: 3px;
    margin-left: -8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.switch_btn.dx-switch .dx-switch-handle {
    width: 8px;
    height: 8px;
    margin-top: 3px;
    margin-left: -8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.switch_btn .dx-switch.dx-state-hover .dx-switch-container {
  background: #b6b6bf;
  border: 1px solid #b6b6bf;
}
.switch_btn .dx-switch.dx-state-hover.dx-switch-on-value .dx-switch-container {
  background: #ff9f00;
  border: 1px solid #ff9f00;
}
.switch_btn .dx-switch-on-value .dx-switch-container {
  background: #ff9f00;
  border: 1px solid #ff9f00;
}
.switch_btn .dx-switch-handle:before {
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  -ms-border-radius:      4px;
  -o-border-radius:       4px;
  border-radius:          4px;
}
.switch_btn {
  min-height: 16px; 
}
.switch_btn.dx-switch-on-value .dx-switch-handle:before {
  background-color: #fff;
}
.switch_btn.dx-switch.dx-state-hover .dx-switch-container {
  background: #b6b6bf;
  border: 1px solid #b6b6bf;
}
.switch_btn.dx-switch.dx-state-hover.dx-switch-on-value .dx-switch-container {
  background: #ff9f00;
  border: 1px solid #ff9f00;
}
.switch_btn.dx-switch-on-value .dx-switch-container {
  background: #ff9f00;
  border: 1px solid #ff9f00;
}
.switch_btn.dx-switch-on-value .dx-switch-handle:before {
  background-color: #fff;
}
.switch_btn.dx-switch.dx-state-hover .dx-switch-handle:before {
  background: #fff;
  /*border: 1px solid #ff9f00;
}
.dx-switch.dx-state-hover .dx-switch-handle:before {
  background: none;
  border: 1px solid #ff9f00;
}*/
.role_filter_switch {
  display: inline-block;
}
.role_filter_switch_item {
  padding: 10px 0 0 0;
}
.role_filter_switch_title {
  display: inline-block;
  padding: 0 0 0 5px;
  line-height: 19px;
  color: #fff;
  font-size: 12px;
  position: relative;
  top: 1px;
}
.dx-theme-generic-typography a {
  color:#ff9f00;
}
.role_filter_btn_box {
  padding: 10px 10px 10px 20px;
}
.role_filter_btn {
  display: block;
  border: 1px solid #4d5763;
  -webkit-border-radius:  2px;
  -moz-border-radius:     2px;
  -ms-border-radius:      2px;
  -o-border-radius:       2px;
  border-radius:          2px;
  text-align:center;
  color: #00bcd4;
}
a.role_reset_btn {
  display: block;
  color: #00bcd4;
  font-size: 12px;
  text-align: center;
  border: 2px solid #4d5763;
  padding: 4px 0;
  text-decoration: none;
}
.role_filter_content {
  padding: 10px 10px 10px 20px;
}
.role_filter_item_title {
  font-size: 12px;
  color:#fff;
}
a.role_add_btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  color: #fff;
  background: #00bcd4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 20px;
  margin: 0 210px 0 0;
}
.role_list .dx-list-search {
  position: absolute;
  width: 200px;
  right: 10px;
  top: 7px;
}
.switch_title {
  display: inline-block;
  position: relative;
  top:3px;
}


.roles_count {
  padding: 10px 0 0 0;
}
.roles_list_filter {
  float: left;
}
.roles_sort {
  float: right;
  padding: 13px 0 0 20px;
  width: 144px;
}
.role_form  {
  padding: 0 10px;
  width: 100%;
  -moz-box-sizing: border-box; /* Для Firefox */  
  box-sizing: border-box; /* Ширина блока с полями */
}
.role_form .dx-layout-manager .dx-field-item:not(.dx-first-row) {
  padding-top: 0;
}
.role_form .dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-label {
  width: 100%;
} 
.role_form .dx-layout-manager .dx-label-h-align .dx-field-item-content, .dx-layout-manager .dx-label-h-align .dx-field-item-content-wrapper {
  width: auto;
}
.role_form .dx-form-group-caption {
  color: #000000;
  font-size: 11px;
  text-transform: uppercase;
}
.role_form .dx-form-group-with-caption > .dx-form-group-content {
  padding-bottom: 20px;
  padding-top: 5px;
  border-top: none;
}
.form_head_right {
  float: right;
}
.form_actions_btn {
  background: #00bcd4;
  color: #fff;
  border-color: #00bcd4;
}
.form_actions_btn .dx-texteditor-input {
  background: inherit;
  border-color: inherit;
}
.role_form .dx-field-item-label-text {
  padding: 0;
}

.form_actions_btn .dx-dropdowneditor-icon:hover, 
.form_actions_btn .dx-dropdowneditor-icon,
.form_actions_btn .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon, 
.form_actions_btn .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon, 
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
  background: none;
  color: #fff;  
}
.form_actions_btn .dx-placeholder,
.form_actions_btn .dx-selectbox .dx-texteditor-input:read-only {
  color: #fff;
}
.form_actions_btn .dx-texteditor-input {
  width: 120px;
}
.form_head_left {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 8px 0 0 0
}
.right_form_title {
  color: #000000;
  font-size: 11px;
  text-transform: uppercase;
}
.right_form_title span {
  padding-left: 10px;
  display: inline-block;
}
.right_form_content {
  padding-top: 20px;
}
.show_content {
  display: none;
}
.show_content.show {
  display: block;
}
.right_form_sep {
  height: 40px;
}
.sorting_list.dx-texteditor {
  background-color: transparent;
  background: none;
  border: none;

}
.sorting_list.dx-texteditor.dx-state-hover,
.sorting_list.dx-texteditor.dx-state-focused,
.sorting_list.dx-texteditor.dx-state-active {
  background: none;
  border: none;
}
.sorting_list {
  background-color: transparent !important;
}
.sorting_list .dx-texteditor-input {
  background: none;
  text-align: right;
  color: #00bcd4;
}
.sorting_list .dx-button-content {
  background: none;
}
.sorting_list .dx-dropdowneditor-icon:hover, 
.sorting_list .dx-dropdowneditor-icon {
  background: transparent !important;
  color:#00bcd4;
}
.sorting_list .dx-texteditor-container:before {
  content:"";
  bottom: 5px;
  width: auto;
  height: 1px;
  border:1px dashed #00acc1;
  position: absolute;
  left: 10px;
  right: 10px;
}
.sorting_list .dx-placeholder { /* Standard one last! */
  color:#00bcd4;
  font-size: 12px; 
}
.widget_title {
  font-size: 12px;
  color:#6e6e80;
  padding-left: 10px;
}
.dx-toolbar-text-auto-hide .dx-button .dx-icon {
  color:#fff;
}
.dx-button-content {
  background-color: #00bcd4;
}
.dx-datagrid .dx-link {
  color: #00acc1;
  font-size: 12px;
}
.form_user_avatar {
  vertical-align: middle;
  padding: 0 8px 0 0;
}
.right_form_image {
  padding: 18px 0 0 0;
}
.right_form_image img {
  display: block;
}
.driver_status_off {
  display: inline-block;
  background: #a8b0be;
  -webkit-border-radius:  8px;
  -moz-border-radius:     8px;
  -ms-border-radius:      8px;
  -o-border-radius:       8px;
  border-radius:          8px;
  color: #fff;
  padding: 1px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.driver_status_on {
  display: inline-block;
  background: #4db6ac;
  -webkit-border-radius:  8px;
  -moz-border-radius:     8px;
  -ms-border-radius:      8px;
  -o-border-radius:       8px;
  border-radius:          8px;
  color: #fff;
  padding: 1px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
/*.dx-link-delete {
  text-indent: -9999px;
  display: inline-block;
  position: relative;
}
.dx-link-delete:after {
  position: absolute;
  content: "\f2d4";
  width: 20px;
  height: 20px;

}*/


/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media screen and (max-width: 1440px) {

  /*.wrapper {
    width: 1200px
  }*/

}

/* Medium Devices, Desktops */
@media screen and (max-width: 1274px) {

 /* .wrapper {
    width: 1000px
  }
*/
}

/* Small Devices, Tablets */
@media screen and (max-width: 1018px) {
 /* .wrapper {
    width: 100%
  }*/
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 800px) {

}

/* Phones */
@media screen and (max-width: 600px) {
  
}

/* Custom, iPhone Retina */
@media screen and (max-width: 470px) {

}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-7 {
  width: 15%;
}

.col-2-7 {
  width: 30%;
}

.col-4-7 {
  width: 55%;
}


/* Opt-in outside padding */
.grid-pad {
}
.grid-pad [class*='col-']:last-of-type {
}
.right-side-bar{
  min-width: 320px;
}


/********************************************/

.container, #page {
  /*height: 100%;*/
  min-height: 300px;
  margin: 0 auto;
  padding: 0;
}

#page .content {
  margin: 0;
}

.pull-right {
  float: right !important;
}

#map {
  position: relative;
}

#order {
  position: absolute;
  width: 25%;
  z-index: 100;
  /*background: #ffffff;*/
  top:285px;
  bottom:20%;
  min-width: 320px;
  /*padding-bottom: 40px;*/
  overflow-y: auto;
}

.table_summary {
  width: 100%;
}

#table_box {
  width:100%;
  /*margin-left: 20px;*/
  padding: 20px;
}
#content {
  padding-left: 50px;
}
#cart_box {
  /*margin-bottom: 20px;*/
  background: #f2f6fa;
}

.role_tag {
  margin-left: 40px;
  background: #d3d3d9;
  margin-bottom: 8px;
}

.card_image {
  float: left;
  padding-top: 5px;
}
.card_image img {
  dominant-baseline: 
}
.card_content {
  margin-left: 60px;
}
.progress {
  background: #d3d3d9;
}

.line {

  border-left: 2px solid #ccc; /* Параметры линии */
  margin-left: 20px; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */
}

.line img {
  margin: 11px 5px 5px 5px;
  width: 30px;
}

.radio_img img {
  width: 12px;
}

.rate-base-layer {
  color: #aaa;
}

.rate-hover-layer {
  color: orange;
}

.rate-select-layer {
  color: orange;
}

#star6 {
  font-size: 30px;
}

.reviews_text_left {
  float: left;
  margin-right: 5px;
}

.reviews_star_left {
  float: left;
}

.reviews_text_right {
  float: right;
  margin-right: 5px;
}

.reviews_star_right {
  float: right;
}

.reviews_item {
  margin-bottom: 20px;
}
/****************************************mine*/
.vert-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.box-edit a{
  float: right;
  padding-right: 14px;
  /*font-weight: bold;*/
  color:#6bc4d3 !important;
  font-size: 13px;
}
.separate{
  border-left: 2px solid #ccc;
  margin-left: 20px;
  padding: 0 10px 10px 10px;
}
.separate.warning{
  border-left: 2px solid #ff9f00;
}
.cash{
  font-size: 20px;
}
.stars{
  color:orange;
}
.radio_img{
  width: 12px;
  height: 12px;
  position: absolute;
  margin-left: 15px;
  margin-top: 8px;
  background-size: cover;
  background: url(../img/glyphicons-170-record.png) no-repeat;
}
.radio_img.success{
  background: url(../img/glyphicons-170-record-active.png) no-repeat;
}
.radio_img.warning{
  background: url(../img/glyphicons-170-record-warning.png) no-repeat;
}
.radio_img.info{
  background: url(../img/glyphicons-170-record-info.png) no-repeat;
}
.item-box{
  background-color: #fff;
  padding: 20px 0 30px 0;
}
.item-box p:not(.box-edit):not(.title){
  max-width: 270px;
}
.right-bar-side p{
  max-width: 400px !important;
}
.role_tag.success{
  background-color: #61bd4f;
}
.role_tag.info{
  background-color: #4db6ac;
}
.role_tag.warning{
  background-color: #ff9f00;
}
.line-through{
  text-decoration: line-through ;
  color:#bdbdc3;
}
.line.info{
  border-left-color: #4db6ac;
}
.line.warning{
  border-left-color: #ff9f00;
}
.wan{
  color:#8484a2;
}
.add-com input{
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid #e3f2fd;
  margin-bottom: 13px;
}
.add-com input:focus{
  outline: none;
}
.clock-number{
  width:35px;
  height:43px;
  border-radius: 5px;
  background-color: #e8e9eb;
  color:#6e6e80;
  text-align: center;
  font-size: 23px;
  padding-top: 5px;
  float:left;
  margin-left:1px;

  margin-top: 13px;
}
.clock-separator{
  position:relative;
  width:16px;
  height:43px;
  float:left;
  margin-top: 13px;
}
.clock-separator span.top{
  position:absolute;
  top: 10px;
  left: 7px;
}
.clock-separator span{
  width:3px;
  height:8px;
  background-color: #e8e9eb;
}
.clock-descr{
  color:#ffa511;
  font-size: 13px;
}
.clock-descr span:first-of-type{
  padding-left:15px;
}
.clock-descr span:last-of-type{
  padding-left:37px;
}
.clock-separator span.bottom{
  bottom: 10px;
  left: 7px;
  position:absolute;
}
#reviews{
  background-color: #fff !important;
}
.item-header{
  background-color: #00bcd4;
  height:66px;
}
.item-header h3 {
 color:white;
  text-align: center;
  font-size: 17px !important;
  padding-top: 22px;
}
.send-btn{
  background-color: #4db6ac;
  color: white !important;
  width: 90px;
  height: 40px;
  padding: 10px;
  float: right;
  /* margin-right: 16px; */
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
}
.send-btn:hover{
  background-color: #488c85;
}
.item-box .rate5.big{
font-size: 50px;
}
.right-bar-side{
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  min-width: 336px;
  width: 25%;
  bottom:0;
  overflow-y: auto;
}
.text-center{
  text-align: center;
}
.logo img{
  width: 100%;
  display: block;
}
.left-fixed-header{
  position:fixed;
  top:0;
  min-width: 320px;
  width:25%;
  z-index: 10;
}
@media (max-width: 716px){
  #order{
    width:100% !important;
    position:static !important;
    overflow-y: visible;
    height: auto !important;
  }
  #table_box{
    width:100% !important;
    margin:0;
    margin-left:0 !important;
    padding: 20px;
  }
  .left-fixed-header{
    width:100% !important;
    position:static !important;
    background-color: #cc0001 !important;
  }
  .left-fixed-header .logo img{
   width:auto !important;
    margin: 0 auto !important;
  }
  #cart_box{
    margin-bottom:196px !important;
  }
  #table_box table{
    width:100% !important;
  }
  /*.right-side-bar{*/
    /*width:100% !important;*/
    /*display:block !important;*/
    /*flex:none !important;*/
  /*}*/
  .right-bar-side{
    position:static !important;
    width:100% !important;
    overflow-y: visible;
  }
  #map{
    z-index: 200 !important;
    top:260px !important;
    position:absolute !important;
    height:200px !important;
  }
}
