<!DOCTYPE html>
<html lang="ru">
<head>
	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<!-- DevExtreme themes -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="css/dx.light.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
	<!-- DevExtreme dependencies -->
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
	
	<!-- A DevExtreme library -->
	<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.all.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<style type="text/css">
	</style>

</head>

<body class="role_page">	
	<div class="wrapper container">
		<div class="wrapper_pad">
			<div id="aside">
				<div class="user_box">
					<a class="user_cross">99+</a>
					<div class="user_image"><img class="img_responsive" src="img/user.png" width="50" height="50"></div>
				</div>
				<div id="aside_nav" class="aside_nav">
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_1">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_2">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_3">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_4">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_5">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_6">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_7">test</a>
							</div>
						</div> 	
					</div>
					<div class="aside_item">
						<div class="tb">
							<div class="td">
								<a class="aside_link aside_link_8">test</a>
							</div>
						</div> 	
					</div>
				</div>
			</div>



			<div id="page">
				<header id="header">
					<div class="header_menu_box">
						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Dashboard</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Accounts</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Reordering</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition active">Role permissions</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Statuses</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Pickup Points</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Customers</a>
						</div>

						<div class="header_menu_link_box">
							<a href="" class="header_menu_link main_link transition">Order zones</a>
						</div>
						<div class="clear"></div>
					</div>
				</header>
				
				<div id="content">
					<script type="text/html" id="role-template">
						<div class="role_card">
							<div class="role_card_block">	
								<div class="role_card_box">
									<div class="role_card_name"><%= roleName %></div>
									<div class="role_card_status"><%= active %></div>
									<div class="clear"></div>
									<div class="role_card_customer"><%= customer %></div>
									<div class="card_tags">
										<div class="card_tag">Orders list</div>
										<div class="card_tag">Orders list</div>
										<div class="card_tag">Orders list</div>
										<div class="card_tag">Orders list</div>
										<div class="card_tag role_tag_more">10+</div>
										<div class="clear">	</div>
									</div>
								</div>
							</div>	
						</div>
					</script>

							<div class="role_container">
								<div class="rect role_filter" data-options="dxItem: {ratio: 1}">
									<div class="role_filter_box">
										<div class="role_filter_btn_box">
											<a href="" class="role_reset_btn">Reset filter</a>
										</div>
										<div class="role_filter_content">
											<div class="role_filter_item">
												<div class="role_filter_item_title">Active</div>
												<div class="role_filter_switch_item">
													<div class="role_filter_switch">
														<div class="switch_btn">
															<div id="switch-on"></div>
														</div>
													</div>
													<div class="role_filter_switch_title">On</div>
												</div>
												<div class="role_filter_switch_item">
													<div class="role_filter_switch">
														<div class="switch_btn">
															<div id="switch-off"></div>
														</div>
													</div>
													<div class="role_filter_switch_title">Off</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="rect role_content" data-options="dxItem: {ratio: 4}">
									<div class="role_content_box">
										<div class="role_controls">
											<div class="role_controls_line">
												<div class="role_controls_line_left">
													<a href="" class="role_filter_btn"><i class="fa fa-filter" aria-hidden="true"></i></a>
												</div>
												<div class="role_controls_line_right">
													<a href="" class="role_add_btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
												</div>
												<div class="clear"></div>
											</div>
											<div class="role_controls_line">
												<div class="role_controls_line_left">
													<div id="roles_count" class="roles_count">24/100</div>
												</div>
												<div class="role_controls_line_right">
													<div class="roles_list_filter">
														<div class="role_filter_switch_item">
															<div class="role_filter_switch">
																<div class="dx-field switch_btn">
																	<div id="roles-only-active_switch"></div>
																</div>
															</div>
															<span class="switch_title">Only active</span>
														</div>
													</div>
													<div class="roles_sort">
														<div class="sortby_box">
															<div class="sortby_body">
																<div class="sortby_title" id="box_sortby" onclick="return show_box('sortby')">Sorting</div>
																<div class="sortby_list" id="box_content_sortby">
																   	<a href="#" class="sortby_list_item">Sort by priority</a>
																   	<a href="#" class="sortby_list_item">Sort by date oldest</a>
																</div>
															</div>
														</div>
														<div class="clear"></div>
													</div>
												</div>
												<div class="clear"></div>
											</div>
										</div>
										<div class="role_list" id="roles_list"></div>
									</div>
								</div>
								<div class="rect role_form" data-options="dxItem: {ratio: 3}">
									<div id="role_form">

									</div>
								</div>
							</div>


					
					
					<div class="clear"></div>
				</div>

			</div>
			<script type="text/javascript">

				$(function(){


					$(".role_container").dxBox({
						direction: "row", 
						width: "100%", 
						height: "calc(100%-50px)"
					});


					$("#switch-on").dxSwitch({
						value: true
					});

					$("#switch-off").dxSwitch({
						value: false
					});

					$("#roles-only-active_switch").dxSwitch({
						value: false
					});

					

				});


				var rolesList = [
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"off",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"off",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"off",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"off",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"off",
					roleName:"Basic client",
					customer:"All customers",

				},
				{
					active:"on",
					roleName:"Basic client",
					customer:"All customers",

				}
				];

				DevExpress.ui.setTemplateEngine("underscore");

				$("#roles_list").dxList({
					dataSource: rolesList,
					searchEnabled: true,
					itemTemplate: $("#role-template"),
					selectionMode: "single",
					onSelectionChanged: selectionChanged,
					scrollByContent: true, // the swipe gesture on all platforms
					scrollByThumb: true // the scrollbar on all platforms
				}).dxList("instance");

				function selectionChanged(e) {

				}

				var profileData = {
				    customer: 'All customers',
				    role: "Basic client",
				    active: true
				};

				var customers = ["All customers", "Active"];
				var roles = ["Basic client", "Vip"];
				
				$(function () {
					
					  $("#role_form").dxForm({
				        formData: profileData,
				        labelLocation: "top",
                        items: [{
                            itemType: "group",
                            colCount: 2,
                            caption: "",
                            items: [{
                            	dataField: "customer",
                                editorType: "dxSelectBox",
                                editorOptions: {
                                    dataSource: customers
                                }
                            },{
                            	dataField: "role",
                                editorType: "dxSelectBox",
                                editorOptions: {
                                    dataSource: roles
                                }
                            }]
                        },{
                            itemType: "group",
                            colCount: 1,
                            caption: "",
                            items: [{
                                editorType: "dxSwitch",
                                dataField: "active",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            }]
                        },{
                            itemType: "group",
                            colCount: 2,
                            caption: "Basic",
                            items: [{
                                editorType: "dxSwitch",
                                dataField: "all basic",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "account list",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "order list",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "driver list",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "teams list",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "add driver",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            },{
                                editorType: "dxSwitch",
                                dataField: "event list",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            }]
                        },{
                            itemType: "group",
                            colCount: 2,
                            caption: "Accounting",
                            items: [{
                                editorType: "dxSwitch",
                                dataField: "accounting",
                                editorOptions: {
                                	elementAttr: {
                                		class: 'switch_btn'
                                	}
                                }
                            }]
                        }],
				        customizeItem: function (item) {
				        	if (item.editorType === "dxSwitch") {
				        		item.label = { location: "right" }
				        	}
				        }
				    });
				});



			</script>

		</body>
		</html>
