<!DOCTYPE html>
<html lang="ru">
<head>
  <title></title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- DevExtreme themes -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/dx.common.css"/>
  <link rel="stylesheet" type="text/css" href="css/dx.light.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>
  <!-- DevExtreme dependencies -->
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>

  <!-- A DevExtreme library -->
  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.6/js/dx.all.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <style type="text/css">
  </style>

</head>

<body class="role_page">
<div class="wrapper container">
  <div class="wrapper_pad">
    <div id="aside">
      <div class="user_box">
        <a class="user_cross">99+</a>
        <div class="user_image"><img class="img_responsive" src="img/user.png" width="50" height="50"></div>
      </div>
      <div id="aside_nav" class="aside_nav">
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_1">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_2">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_3">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_4">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_5">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_6">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_7">test</a>
            </div>
          </div>
        </div>
        <div class="aside_item">
          <div class="tb">
            <div class="td">
              <a class="aside_link aside_link_8">test</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="page">
      <header id="header">
        <div class="header_menu_box">
          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Dashboard</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Accounts</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Reordering</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition active">Role permissions</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Statuses</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Pickup Points</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Customers</a>
          </div>

          <div class="header_menu_link_box">
            <a href="" class="header_menu_link main_link transition">Order zones</a>
          </div>
          <div class="clear"></div>
        </div>
      </header>

      <div id="content">
        <script type="text/html" id="account-template">
          <div class="role_card">
            <div class="role_card_block">
              <div class="role_card_box">
                <div class="card_image"><img src="<%= picture %>" alt="<%= name %>"></div>
                <div class="card_content">
	                <div class="role_card_info"><b><%= name %></b></div>
	                <div class="role_card_info"><%= email %></div>
	                <div class="role_card_info"><%= phone %></div>
                </div>
                <div class="сard_tags">
                  <% for(var i = 0; i < tags.length; ++i) { %>
                	<div class="card_tag"><%= tags[i] %></div>
                  <% } %>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <div class="role_container">
          <div class="rect role_filter" data-options="dxItem: {ratio: 2}">
            <div class="role_filter_box">
              <div class="role_filter_btn_box">
                <a href="" class="role_reset_btn">Reset filter</a>
              </div>
              <div class="role_filter_content">
                <div class="role_filter_item">
                  <div class="role_filter_item_title">Active</div>
                  <div class="role_filter_switch_item">
                    <div class="role_filter_switch">
                      <div class="switch_btn">
                        <div id="switch-on"></div>
                      </div>
                    </div>
                    <div class="role_filter_switch_title">On</div>
                  </div>
                  <div class="role_filter_switch_item">
                    <div class="role_filter_switch">
                      <div class="switch_btn">
                        <div id="switch-off"></div>
                      </div>
                    </div>
                    <div class="role_filter_switch_title">Off</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rect role_content" data-options="dxItem: {ratio: 9}">
            <div class="role_content_box">
              <div class="role_controls">
                <div class="role_controls_line">
                  <div class="role_controls_line_left">
                    <a href="" class="role_filter_btn"><i class="fa fa-filter"
                                                          aria-hidden="true"></i></a>
                  </div>
                  <div class="role_controls_line_right">
                    <a href="" class="role_add_btn"><i class="fa fa-plus"
                                                       aria-hidden="true"></i></a>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="role_controls_line">
                  <div class="role_controls_line_left">
                    <div id="roles_count" class="roles_count">24/100</div>
                  </div>
                  <div class="role_controls_line_right">
                    <div class="roles_list_filter">
                      <div class="role_filter_switch_item">
                        <div class="role_filter_switch">
                          <div class="dx-field switch_btn">
                            <div id="roles-only-active_switch"></div>
                          </div>
                        </div>
                        <span class="switch_title">Only active</span>
                      </div>
                    </div>
                    <div class="roles_sort">
                      <div class="sortby_box">
                        <div class="sortby_body">
                          <div class="sortby_title" id="box_sortby"
                               onclick="return show_box('sortby')">Sorting
                          </div>
                          <div class="sortby_list" id="box_content_sortby">
                            <a href="#" class="sortby_list_item">Sort by priority</a>
                            <a href="#" class="sortby_list_item">Sort by date oldest</a>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="accounts_list role_list" id="accounts_list"></div>
            </div>
          </div>
          <div class="rect role_form" data-options="dxItem: {ratio: 4}">
            <div class="form_head_box">
              <div class="form_head_left">
                <div class="form_title">ElliottAccount</div>
              </div>
              <div class="form_head_right">
                <div id="form_actions_btn"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="right_form_box">
              <div class="right_form_content">
                <div class="right_form_item">
                  <div class="right_form_title show_item active" id="basic_item"
                       onclick="return show_content('basic_item','basic_content');"><i
                      class="fa fa-caret-down"></i><span>Basic</span></div>
                  <div class="right_form_content show_content show" id="basic_content">
                    <div id="system_form"></div>
                  </div>
                </div>
                <div class="right_form_sep"></div>
                <div class="right_form_item">
                  <div class="right_form_title show_item active" id="places_item"
                       onclick="return show_content('places_item','places_content');"><i
                      class="fa fa-caret-down"></i><span>PLACES</span></div>
                  <div class="right_form_content show_content show" id="places_content">
                    <div id="places_grid"></div>
                  </div>
                </div>
                <div class="right_form_sep"></div>
                <div class="right_form_item">
                  <div class="right_form_title show_item active" id="users_item"
                       onclick="return show_content('users_item','users_content');"><i
                      class="fa fa-caret-down"></i><span>USERS</span></div>
                  <div class="right_form_content show_content show" id="users_content">
                    <div id="users_grid"></div>
                  </div>
                </div>
                <div class="right_form_sep"></div>
                <div class="right_form_item">
                  <div class="right_form_title show_item active" id="drivers_item"
                       onclick="return show_content('drivers_item','drivers_content');"><i
                      class="fa fa-caret-down"></i><span>DRIVERS</span></div>
                  <div class="right_form_content show_content show" id="drivers_content">
                    <div id="drivers_grid"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="clear"></div>
      </div>

    </div>
    <script type="text/javascript">

      $(function () {


        $(".role_container").dxBox({
          direction: "row",
          width: "100%",
          height: "calc(100%-50px)"
        });


        var formBtnActions = ["Save", "Save and Close"];
        $("#form_actions_btn").dxSelectBox({
          items: formBtnActions,
          placeholder: "Save",
          elementAttr: {
            class: "form_actions_btn"
          }
        });

        /*
			PLACES LIST
        */

        var placesList = [
          {
            name: "name place",
            street: "street place",
            country: "country place"
          }, {
            name: "name place",
            street: "street place",
            country: "country place"
          }, {
            name: "name place",
            street: "street place",
            country: "country place"
          },
        ];

        var placesGrid = $("#places_grid").dxDataGrid({
          dataSource: placesList,
          columns: [
            "name",
            "street",
            "country"
          ],
          editing: {
            mode: 'row',
            allowUpdating: true,
            allowAdding: true,
            allowDeleting: true
          },
          showBorders: false,
          showColumnLines: false,
          showColumnHeaders: true,
          showRowLines: false,
          onToolbarPreparing: function (e) {
            var toolbarItems = e.toolbarOptions.items;
            $.each(toolbarItems, function (_, item) {
              if (item.name === "addRowButton") {
                item.location = "before";
              }
            });

            // Adds a new item
            toolbarItems.push(
              {
                widget: 'dxSelectBox',

                options: {
                  elementAttr: {
                    class: "sorting_list"
                  },
                  dataSource: [
                    "item_1",
                    "item_2",
                  ],
                },
                location: 'after'
              }, {
                location: 'before',
                html: "<div class='widget_title'>3 places</div>"
              });
          }
        });



      /*
        USERS LIST
      */

      var usersList = [
        {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          login: "login example",
          role: "admin"
        }, {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          login: "login example",
          role: "admin"
        }, {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          login: "login example",
          role: "admin"
        }
      ];

      var usersGrid = $("#users_grid").dxDataGrid({
        dataSource: usersList,
        columns: [
          {
            caption: "name",
            cellTemplate: function(container, options) {
              container.append( "<img class='form_user_avatar' src='"+options.data.picture+"' />" + options.data.name);
              console.log(options.data);
            }
          },
          "login",
          "role"
        ],
        editing: {
          mode: 'row',
          allowUpdating: true,
          allowAdding: true,
          allowDeleting: true
        },
        showBorders: false,
        showColumnLines: false,
        showColumnHeaders: true,
        showRowLines: false,
        onToolbarPreparing: function (e) {
          var toolbarItems = e.toolbarOptions.items;
          console.log(toolbarItems);
          $.each(toolbarItems, function (_, item) {
            if (item.name === "addRowButton") {
              item.location = "before";
            }
          });

          // Adds a new item
          toolbarItems.push(
            {
              widget: 'dxSelectBox',

              options: {
                elementAttr: {
                  class: "sorting_list"
                },
                dataSource: [
                  "item_1",
                  "item_2",
                ],
              },
              location: 'after'
            }, {
              location: 'before',
              html: "<div class='widget_title'>3 places</div>"
            });
        }

      });

      /*
        DRIVERS
      */

      var driversList = [
        {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          status: "off"
        }, {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          status: "on"
        }, {
          picture: "img/user_avatar.png",
          name: "Arianna Montgomery",
          status: "off"
        }
      ];

      var driversStatusList = {
        on: "on shift",
        off:"off",
      }

      var driversGrid = $("#drivers_grid").dxDataGrid({
        dataSource: driversList,
        columns: [
          {
            caption: "name",
            cellTemplate: function(container, options) {
              var driverClass = "form_user_avatar";
              if (options.data.status == "on") driverClass += " driver_on";
              if (options.data.status == "off") driverClass += " driver_off";
              container.append( "<img class='"+driverClass+"' src='"+options.data.picture+"' />" + options.data.name);
            }
          },
          {
            caption: "status",
            cellTemplate: function(container, options) {
              var statusValue = options.data.status;
              var statusText = driversStatusList[statusValue];
              console.log(statusValue);
              console.log(statusText);
              container.append( "<div class='driver_status_"+statusValue+"' >" + statusText + "</div>");
            }
          }
        ],
        editing: {
          mode: 'row',
          allowUpdating: false,
          allowAdding: false,
          allowDeleting: true
        },
        showBorders: false,
        showColumnLines: false,
        showColumnHeaders: true,
        showRowLines: false,
        onToolbarPreparing: function (e) {
          var toolbarItems = e.toolbarOptions.items;
          console.log(toolbarItems);
          $.each(toolbarItems, function (_, item) {
            if (item.name === "addRowButton") {
              item.location = "before";
            }
          });

          // Adds a new item
          toolbarItems.push(
            {
              widget: 'dxSelectBox',

              options: {
                elementAttr: {
                  class: "select_list"
                },
                dataSource: [
                  "driver 1",
                  "driver 2",
                ],
              },
              location: 'before',
            }, {
              location: 'before',
              html: "<div class='widget_title'>7 drivers</div>"
            },
            {
              widget: 'dxSelectBox',

              options: {
                elementAttr: {
                  class: "sorting_list"
                },
                dataSource: [
                  "item_1",
                  "item_2",
                ],
              },
              location: 'after'
            }
          );

        }

      });


      accountsList = [
        {
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        },{
          picture: "/img/logo_mc.png",
          name: "name",
          email: "email",
          phone: "(664)-233-1836",
          tags: ['COD Accounting','Autoassign','Instant only']
        }
      ]

      DevExpress.ui.setTemplateEngine("underscore");

      $("#accounts_list").dxList({
      	dataSource: accountsList,
      	searchEnabled: true,
      	itemTemplate: $("#account-template"),
      	selectionMode: "single",
      	onSelectionChanged: selectionChanged,
      	scrollByContent: true, // the swipe gesture on all platforms
      	scrollByThumb: true // the scrollbar on all platforms
      }).dxList("instance");

      function selectionChanged(e) {

      }


        var systemData = {
          name: 'firstName',
          vat: 123456798,
          vatList: ['AED', 'EAD'],
          password: "123123123",
          phone: "+(800) 555-2797",
          picture: "/img/logo_mc.png",
          feedbackUrl: "https://elliott-extrabigpizza.com/feedback"
        };

        $("#system_form").dxForm({
          formData: systemData,
          colCount: 1,
          labelLocation: "top",
          minColWidth: 150,
          items: [
            {
              itemType: "group",
              colCount: 6,
              items: [
                {
                  itemType: "group",
                  template: function (data, itemElement) {
                    itemElement.append("<div class='right_form_image'><img src=" + data.formData.picture + "></div>");
                  }
                },
                {
                  itemType: 'group',
                  colSpan: 5,
                  items: [
                    {
                      dataField: "name"
                    },
                    {
                      itemType: "group",
                	  colCount: 3,
                      items: [
                        {
                          dataField: "vat",
                          colSpan: 2,
                        },
                        {
                          editorType: "dxSelectBox",
                          dataField: "vatList",
                          dataSource: systemData.vatList,
                          editorOptions: {}
                        }
                      ],
                    },
                  ]
                }
              ]
            },
            {
              itemType: "empty"
            },
            {
              itemType: 'group',
              colCount: 3,
              items: [
                {
                  editorType: "dxSwitch",
                  // dataField: "active",
                  label: {
                    location: "right",
                    text: "COD Accounting"
                  },
                  editorOptions: {
                    elementAttr: {
                      class: 'switch_btn'
                    }
                  }
                },
                {
                  editorType: "dxSwitch",
                  // dataField: "active",
                  label: {
                    location: "right",
                    text: "Autoassign"
                  },
                  editorOptions: {
                    elementAttr: {
                      class: 'switch_btn'
                    }
                  }
                }, {
                  editorType: "dxSwitch",
                  // dataField: "active",
                  label: {
                    location: "right",
                    text: "Instant Only"
                  },
                  editorOptions: {
                    elementAttr: {
                      class: 'switch_btn'
                    }
                  }
                },
              ]
            }, {
              itemType: "empty"
            }, {
              dataField: "feedbackUrl",
            }
          ], // end items
          customizeItem: function (item) {
            if (item.editorType === "dxSwitch") {
              // item.label = {
              // 	location: "right",
              // 	text: "asdasd"
              // }
            }
          }
        });
      });


    </script>

</body>
</html>
